/* Modal Container */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #f7e7b8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 1s ease-out;
  overflow-y: auto;
}

/* Show Modal */
.modal.show {
  transform: translateX(0);
}

/* Modal Content */
.modal-content {
  padding: 20px 10px;
}

/* File List */
.file-list {
  display: flex;
  justify-content: space-between;
}

.close-icon:hover {
  color: red;
  cursor: pointer;
}

/* File Item */
.file-list ul {
  list-style: none;
  padding: 0;
}

.file-list li {
  margin-bottom: 10px;
}
